################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Thermometer/v15
/Thermometer/bin/Debug/netcoreapp2.0
/Thermometer/obj/Debug/netcoreapp2.0
/Thermometer/bin/Release
/Thermometer/obj/Release/netcoreapp2.0
/Thermometer/Reports
*.png
*.tmp
*.jpg
/Radosław Szkorla praca dyplomowa.docx
