body {
  background: #eff5ff;
}

.revese-ul {
  transform: rotate(180deg);

}

.revese-ul > li {
  transform: rotate(-180deg);
}

.alerts-container {
  min-height: 270px;
  height: 270px;
  display: block;
  overflow: scroll;
  max-width: 100%;
  overflow-x: hidden;
  background: #eaf2ff;
}

.chart-container {
  background: #eaf2ff;
}

.temperature-container {
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
}
