@{
  ViewData["Title"] = "Home Page";
}


<link href="~/css/index.css" rel="stylesheet" />

<br />


<form id="send-form" action="#" hidden>

  <input type="text" id="message-textbox" hidden />
  <button id="send-button" type="submit">Refresh</button>
</form>



<div class="temperature-container">
  <h4 id="temperature">
  </h4>
</div>


<div >
  <div class="col-md-6">
    <div class="chart-container">
      <canvas id="myChart" ></canvas>
    </div>
  </div>
  <div class="col-md-6">
    <div class="alerts-container">
      <ul id="messages-list" class="list-group revese-ul"></ul>
    </div>
  </div>
</div>

@section Scripts {
  <script src="/lib/signalr/signalr.js"></script>
  <script src="~/lib/chart.js/Chart.js"></script>
  <script type="text/javascript">
    var sendForm = document.getElementById("send-form");
    var sendButton = document.getElementById("send-button");
    var messagesList = document.getElementById("messages-list");
    var messageTextBox = document.getElementById("message-textbox");
    var myChart;

    function appendMessage(content) {
      //var li = document.createElement("li");
      //li.innerText = content;
      //messagesList.appendChild(li);

      var temp = document.getElementById("temperature");
      temp.innerText = linkToArray(content)[0];
    }

    function linkToArray(param) {
      return param.split(" ").map(function(item) {
        return parseFloat(item);
      });
    }


    function appendAlert(content) {
      var li = document.createElement("li");
      li.innerText = content;
      li.classList.add("list-group-item");
      li.classList.add("list-group-item-danger");
      messagesList.appendChild(li);
    }

    function appendWarning(content) {
      var li = document.createElement("li");
      li.innerText = content;
      li.classList.add("list-group-item");
      li.classList.add("list-group-item-warning");
      messagesList.appendChild(li);
    }

    var connection = new signalR.HubConnection("/hubs/update");

    sendForm.addEventListener("submit", function() {
      var message = messageTextBox.value;
      messageTextBox.value = "";
      connection.send("Send", message);
    });

    connection.on("SendMessage", function (sender, message) {
      appendMessage(message);

      var ctx = document.getElementById("myChart");
      myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: [" ", " ", " ", " ", " "],
          datasets: [{
            borderColor: "#4277f4",
            fill: false,
            label: 'Temperautue',
            data: linkToArray(message),
            borderWidth: 5
          }]
        },
        options: {
          animation:false,
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero:true
              }
            }]
          }
        }
      });


    });

    //connection.on("SendAction", function (sender, action) {
    //  appendMessage(sender + ' ' + action);
    //});

    connection.on("Alert",
      function(message) {
        appendAlert(message);
      });
    connection.on("Warning",
      function(message) {
        appendWarning(message);
      });

    connection.start().then(function() {
      messageTextBox.disabled = false;
      sendButton.disabled = false;
    });

    var clickMe = document.getElementById("send-button");

    clickMe.addEventListener('click', function() {
    }, true);

    setInterval(function() {
      var event = new MouseEvent('click'),
        canceled = !clickMe.dispatchEvent(event);

      if (canceled) {
        console.log('Click event was canceled');
      }
    }, @ViewBag.RefreshRate* 1000);



  </script>
}