@model Thermometer.Models.ConfigViewModel
@{
  ViewData["Title"] = "Home Page";
}


<link href="~/css/index.css" rel="stylesheet" />

<br />


<form id="send-form" action="#" hidden>

  <input type="text" id="message-textbox" hidden />
  <button id="send-button" type="submit">Refresh</button>
</form>
<p id="degree-symbol" hidden>&#176;C</p>

<div>
  @if (ViewBag.ConfigResult == "Ok")
  {
    <div class="alert alert-success" role="alert">
      <p>Configuration saved</p>
    </div>
  }
</div>


<div class="temperature-container row">
  <h3>Actual temperature:</h3>
  <h1 id="temperature"></h1>
</div>

<br />
<div>
  <div class="col-md-6">
    <div class="chart-container">
      <canvas id="myChart"></canvas>
    </div>
  </div>
  <div class="col-md-6">
    <div class="alerts-container">
      <ul id="messages-list" class="list-group revese-ul"></ul>
    </div>
  </div>
</div>

@section Scripts {
  <script src="/lib/signalr/signalr.js"></script>
  <script src="~/lib/chart.js/Chart.js"></script>
  <script type="text/javascript">

  <script src="~/js/index.js"></script>

  </script>
}